.hunde-train__container{
	display: grid;
	grid-template-columns: 40px 1fr 40px;
	grid-template-rows: 1fr 2fr 40px;
	grid-gap: 1em;
}

@media (min-width: 750px) {
	.hunde-train__container{
	}
}

@media (min-width: 1300px) { 
	.hunde-train__container{
	}
}

/* Hunde traening general info*/
.hunde-train__general-info__information{
	grid-area: 1/2/2/3;
}

@media (min-width: 750px) {


}

@media (min-width: 1300px) { 

}


.hunde-train__general-info__bobble-container{
	grid-area: 2/2/3/3;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 5px;
	padding-bottom: 10px;
	width:80%;

}
@media (min-width: 750px) {
.hunde-train__general-info__bobble-container{
	grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 1300px) { 

}



.hunde-train__general-info__booble{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: rgb(129,185,155);
	opacity: 0.6;
	text-align: center;
}
@media (min-width: 750px) {
	.hunde-train__general-info__booble{
	width: 150px;
	height: 150px;
	}
}

@media (min-width: 1300px) { 

}

.hunde-train__general-info__booble__text{
	position: relative;
	top: 15%;
}
@media (min-width: 750px) { 
	.hunde-train__general-info__booble__text{
	position: relative;
	top: 25%;
	}

}

/* Hunde traening Pupp treaning*/
.hunde-train__puppy__img{
	grid-area: 1/2/2/3;
	height: 100%; 
	width: 100%; 
	max-height: 175px;

}
@media (min-width: 750px) {
	.hunde-train__puppy__img{
	
	}
}

@media (min-width: 1300px) { 
	.hune-train__puppy__img{
		grid-area: 2/2/3/4;
	}
}

.hundet-train__puppy__text{
	grid-area: 2/2/3/3;
}
@media (min-width: 750px) {
	.hundet-train__puppy__text{
	
	}
}

@media (min-width: 1300px) { 
	.hundet-train__puppy__text{
		grid-area: 2/2/4/3;
	}
}
/* Hunde traening Unge treaning*/
.hunde-train__unge__img{
	grid-area: 2/2/3/3;
	height: 100%; 
	width: 100%; 
	max-height: 175px;
}

.hunde-train__unge__text{
	grid-area: 1/2/2/3;


}
/* Hunde traening Unge treaning*/

.hunde-train__pro__img{
	grid-area: 1/2/2/3;
	height: 100%; 
	width: 100%;
	max-height: 175px; 
}

.hunde-train__pro__text{
	grid-area: 2/2/3/3;
}
