.luftning__container{
	display: grid;
	grid-template-columns: 40px 1fr 40px;
	grid-template-rows: 1fr 2fr 40px;
	grid-gap: 1em;

}
@media (min-width: 750px) { 
	.luftning__container{
		grid-template-columns: 40px 1fr 1fr 40px;
	}
}

@media (min-width: 1300px) { 

}

.luftning__img--mobi{
	grid-area: 1/2/2/3;
	width: 100%;
	max-height: 175px;
	max-width: 600px;
	margin:auto;
	border-radius: 50%;
}
@media (min-width: 750px) { 
	.luftning__img--mobi{
		grid-area:1/3/3/4;
		max-height: 300px;
	}
}


.luftning_text{
	grid-area: 2/2/3/3;
	color: black;
	text-align: left;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	width:100%;
}
@media (min-width: 750px) { 
	.luftning_text{
		grid-area:1/2/3/3;
	}
}