.navigation{
	background-color: #7FACAD;
	top: 0px;
	position: sticky;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height:40px;
	z-index: 1000;
	margin: 0;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;

}

@media (min-width: 750px){
	.navigation{
		height: 75px;

	}
}
@media(min-width: 1300px){
	.navigation{
		position: fixed;
		height: 100vh;
		width: 200px;
		left:0px;
		top:initial;
		flex-direction: column;
	}
}


/* navigation items*/
.navigation--menu{
	background-color: white;
	margin: 0;
	padding: 0;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	right: 40px
}
@media (min-width: 750px){
	.navigation--menu{
	position: static;
	}
}


.navigation--menu.close-nav-burger{
	display: none;
}
@media (min-width: 750px) { 
	.navigation--menu.close-nav-burger, .navigation--menu{
		display:flex;
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: flex-end;
		flex-grow: 1;
		align-items: end;	
		background-color: #7FACAD;
		font-size: 1.1em;

	}
}
@media(min-width: 1300px){
	.navigation--menu.close-nav-burger, .navigation--menu{
		flex-direction: column;
		justify-content: flex-start;
	}
}

.navigation--menu li{
	padding: 5px;
	margin-top: 5px;
	font-size: 1.2em;
	list-style-type: none;
	padding-left: 15px;

}


@media (min-width: 750px) { 
	.navigation--menu li{
		background-color: #29afd1;
		padding-right: 20px;
		border-left: solid black 1px;
		border-top: solid black 1px;
		height: 40px;
		text-align: center;
	}
}
@media(min-width: 750px){
	.navigation__info{
		border-top-left-radius: 10px;
		border-left: none;
	}
}


.navigation--menu li:hover{
	background-color: lightyellow;
}

.navigation__menuitem--link:hover{
	text-decoration: underline;
}


.navigation a{
	text-decoration: none;
	color: black;
	font-size: 1em;
}

.header__title{
	text-align: center;
}
.navigation__pictures:hover{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
@media(min-width: 750px){
	.navigation__pictures:hover {
		border-bottom-left-radius: 00px;
		border-bottom-right-radius: 00px;
	}
}


/* navigation logo*/
.header__logo{
	max-width: 75px;
	float: left;
}

@media (min-width: 750px) { 
	.header__logo{
		max-width: 150px;
	}
}
@media(min-width: 1300px){
	.header__logo{
	margin-left: 12.5px;
	}
}

/* Navigation burger only visable in mobile display */

#navigation--burger{
	background-color:#29afd1;
	cursor: pointer;
	display: inline-block;
	border-radius: 33%;
	z-index: 1001;
	float: right;
}
@media (min-width: 750px) { 
	#navigation--burger{
		display: none;
	}
}


.navigation--burger--main{
	width: 40px;
	height: 40px;
	position: relative;
}

.navigation--burger--line{
	position: absolute;
	height: 4px;
	width: 80%;
	background-color: white;
	border-radius: 30%;
	left:10%;
	transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}
.navigation--burger--main:hover > .navigation--burger--line{
		background-color: grey;
}

.menu{

}
.line01{
	top: 25%
}

.line02{
	top: 50%;	
}

.line03{
	top: 75%;
}

#menu.close-nav-Burger .line01 {
	transform:rotate(45deg);
	top:50%;
}

#menu.close-nav-Burger .line02, #menu.close-nav-Burger .line03 {
	transform:rotate(-45deg);
	top:49%;
}


