body{
	background-color: #81b99b;
	text-align: center;
	color: black;
	border-radius: 0%;
	margin: auto;
	font-weight: lighter;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.2em;
}

.backgroundImg{
	background: url("logo.JPG");
	background-repeat: no-repeat;
	max-width: 500px;
	height: 500px
	border-radius: 0%;
}
h2 a{
	text-decoration: none;
	color: white;
	text-decoration: underline;


}
